In [4]:
student="shrushti"
student

'shrushti'

In [5]:
student="usha"
student

'usha'

In [10]:
a1=10
a1

10

In [11]:
type(a1)

int

In [12]:
a2=25.3
a2

25.3

In [13]:
type(a2)

float

In [14]:
a3=True
a3

True

In [15]:
type(a3)

bool

In [16]:
a4="hii"
a4

'hii'

In [18]:
type(a4)

str

In [19]:
a5=3+4j
a5

(3+4j)

In [20]:
type(a5)

complex

In [21]:
#Arithmetic operator

In [22]:
a=10
b=20

In [23]:
a,b

(10, 20)

In [24]:
a+b

30

In [25]:
a-b

-10

In [26]:
a*b

200

In [27]:
a/b

0.5

In [28]:
#RElational operator(<,>,==,!=)

In [34]:
a=50
b=100
c=50

In [30]:
a<b

True

In [31]:
a>b

False

In [32]:
a==b

False

In [33]:
a!=b

True

In [35]:
a==c

True

In [36]:
#LOgical operatior

In [37]:
a=True
b=False

In [40]:
a&a

True

In [38]:
a&b

False

In [41]:
b&b

False

In [39]:
a|b

True

In [42]:
a|a

True

In [43]:
b|b

False

In [ ]:
#string

In [1]:
str1='hello world'

In [2]:
str1

'hello world'

In [3]:
str2="hello world"

In [4]:
str2

'hello world'

In [5]:
str3='''hello world'''
str3

'hello world'

In [ ]:
#slicing

In [6]:
mystr="this is sparta"
mystr

'this is sparta'

In [7]:
mystr[3]

's'

In [8]:
mystr[-3]

'r'

In [11]:
mystr[5:11]

'is spa'

In [ ]:
#string function

In [12]:
str="my name is shrushti"
str

'my name is shrushti'

In [13]:
len(str)

19

In [14]:
str.lower()

'my name is shrushti'

In [15]:
str.upper()

'MY NAME IS SHRUSHTI'

In [16]:
str.replace('r','a')

'my name is shaushti'

In [26]:
str2='hello, hello, hello, shrushti'
str2

'hello, hello, hello, shrushti'

In [19]:
str2.count('hello')

3

In [20]:
str2.find('shrushti')

18

In [27]:
str2.split(',')

['hello', ' hello', ' hello', ' shrushti']

In [23]:
fruit='i like mango,apple,banana'
fruit

'i like mango,apple,banana'

In [24]:
fruit.split(',')

['i like mango', 'apple', 'banana']

In [ ]:
#data structure  tuple(imutable) list[mutable] dictionary{mutable} set

In [28]:
tup1=(1,'hii',True)
tup1

(1, 'hii', True)

In [30]:
tup2=(1,'a',True,2,'b',False)
tup2[1]

'a'

In [32]:
tup2[0:4]

(1, 'a', True, 2)

In [33]:
len(tup2)

6

In [34]:
tup3=(1,2,3)
tup4=(4,5,6)

In [35]:
tup3,tup4

((1, 2, 3), (4, 5, 6))

In [37]:
tup4+tup3

(4, 5, 6, 1, 2, 3)

In [38]:
tup4*2

(4, 5, 6, 4, 5, 6)

In [40]:
tup3*2+tup4

(1, 2, 3, 1, 2, 3, 4, 5, 6)

In [41]:
min(tup3)

1

In [42]:
max(tup3)

3

In [43]:
list=[1,'shrushti',True]
list

[1, 'shrushti', True]

In [44]:
list[2]

True

In [1]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [2]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [45]:
list1=[1,2,3,4,5,6,7,8,9]
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
list1[0:7]

[1, 2, 3, 4, 5, 6, 7]

In [51]:
list1[-2]

8

In [54]:
list1[2:6]

[3, 4, 5, 6]

In [55]:
list1[3]=100

In [56]:
list1

[1, 2, 3, 100, 5, 6, 7, 8, 9]

In [57]:
list1.append("hii")

In [58]:
list1

[1, 2, 3, 100, 5, 6, 7, 8, 9, 'hii']

In [59]:
list1.pop(5)
list1

[1, 2, 3, 100, 5, 7, 8, 9, 'hii']

In [60]:
list1.reverse()
list1

['hii', 9, 8, 7, 5, 100, 3, 2, 1]

In [62]:
list1.insert(3,'hello')
list1

['hii', 9, 8, 'hello', 7, 5, 100, 3, 2, 1]

In [64]:
list2=['apple','mango','banana','cherry']
list2

['apple', 'mango', 'banana', 'cherry']

In [65]:
list2.sort()
list2

['apple', 'banana', 'cherry', 'mango']

In [66]:
list3=[1,2,3]
list4=['a','b','c']
list3,list4

([1, 2, 3], ['a', 'b', 'c'])

In [67]:
list3*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [68]:
list3+list4

[1, 2, 3, 'a', 'b', 'c']

In [71]:
list3*4+list4

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 'a', 'b', 'c']

In [4]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "a" in x:
        newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [5]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [19]:
newlist1=[x.upper() for x in fruits]
newlist1

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [11]:
name=["shrushti","jay","sagar","usha","hemant"]
#newlist=[x for x in name if 's' in x] #['shrushti','sagar','usha']

newlist1=[x for x in name if x !='sagar']

print(newlist1)

['shrushti', 'jay', 'usha', 'hemant']

In [14]:
new=[x for x in range(10)]
new

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
new=[x for x in range(10) if x<6]
new #[0,1,2,3,4,5]
new1=[x for x in range(10) if x%2==0]
new1

[0, 2, 4, 6, 8]

In [72]:
dict={"apple":10,"orange":20}
dict

{'apple': 10, 'orange': 20}

In [73]:
dict={"apple":10,"orange":20,"gava":30,"banana":40}
dict.keys()

dict_keys(['apple', 'orange', 'gava', 'banana'])

In [74]:
dict.values()

dict_values([10, 20, 30, 40])

In [76]:
dict["mango"]=50
dict

{'apple': 10, 'orange': 20, 'gava': 30, 'banana': 40, 'mango': 50}

In [77]:
dict["apple"]=50
dict

{'apple': 50, 'orange': 20, 'gava': 30, 'banana': 40, 'mango': 50}

In [79]:
dict1={"hii":10,"hello":20}
dict2={"shrushti":30,"usha":40}

dict1.update(dict2)

In [80]:
dict1

{'hii': 10, 'hello': 20, 'shrushti': 30, 'usha': 40}

In [84]:
dict.pop("apple")
dict

{'orange': 20, 'gava': 30, 'banana': 40}

In [ ]:
#flow control statement

In [ ]:
#if-statement

In [10]:
num=3
if num > 0:
    print(num,"is the positvie number")
    print("This is also printed")

3 is the positvie number
This is also printed

In [11]:
flag=True
if flag ==True:
    print("hii")
    print("welcome to")
    print("shrushti world")

hii
welcome to
shrushti world

In [12]:
flag = True
if flag:
    print("Welcome")
    print("To")
    print("BeginnersBook.com")

Welcome
To
BeginnersBook.com

In [13]:
flag = False
if flag:
    print("You Guys")
    print("are")
    print("Awesome")

In [14]:
num=200
if num < 300:
    print("number is lesser then 300")

number is lesser then 300

In [21]:
weight=float(input("how many suitcase tyour suitcase weight: "))
if weight>50:
    print("There is a 25 charge for luggage that heavy")
    print("thank ypu buddies")

how many suitcase tyour suitcase weight: 55
There is a 25 charge for luggage that heavy
thank ypu buddies

In [22]:
if 'foo' in ['bar', 'baz', 'qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done.')
print('After conditional')

After conditional

In [ ]:
a="hii"
a

In [ ]:
a="hii"
a

# if else

In [ ]:
a="hii"
a